Source: mkisoarchive
Section: devel
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Vcs-Git: https://github.com/pragmatux/mkisoarchive.git
Vcs-Browser: https://github.com/pragmatux/mkisoarchive

Package: mkisoarchive
Architecture: all
Depends: reprepro, genisoimage, ${misc:Depends}
Description: make iso debian archive
 This is part of the Pragmatux software update system.  It creates an ISO image
 containing an "archive" directory which is a Debian package archive with the
 distribution "master" and the section "main".
